* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvasContainer {
  top: 0;
  left: 0;
  position: absolute;
}

canvas {
  width: 100vw;
  height: 100vh;
}

#optionArea {
  z-index: 5;
  position: fixed;
  top: 0;
}
