
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

canvas {
  display: block;
}
#optionArea {
  height: 100px;
}
#canvasContainer {
  position: relative;
}

hide {
  display: none;
}
